{{ define "main" }}
<article>
    <h1 class="post-title">{{ .Title }}</h1>
    <time class="sep-after">{{ .Date.Format "January 2, 2006" }}</time>
    <span class="reading-time">Reading: {{ math.Round (div (countwords .Content) 220.0) }} min</span>
    <div>
        <p>
        {{if .Params.images}}
            {{ $srcset := "360|(max-width: 360px) 360px,700|(min-width: 700px) 700px" }}
            {{ $srcset := split $srcset "," }}
            {{ $original := (index (.Resources.ByType "image") 0)  }}
            <!-- image -->
            <figure class="hero">
                <img src="{{ $original.RelPermalink }}" srcset="{{range $i, $set := $srcset}}{{ $setparams := split $set "|" }}{{$sizecondition := index $setparams 0 }}{{ $image := $original.Resize (print $sizecondition "x") }}{{ if $i }}, {{ end }}{{ (print $image.RelPermalink " " $sizecondition "w") }}{{ end }}" sizes="{{range $i, $set := $srcset}}{{ $setparams := split $set "|" }}{{$mediacondition := index $setparams 1 }}{{ if $i }}, {{ end }}{{ $mediacondition }}{{ end }}"/>
            </figure>
        {{ end }}
        {{ .Content }}
        </p>
    </div>
    <div class="page-footer">
        <hr class="footer-divider">
        {{if .Params.tags}}
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>
</article>
{{end}}