{{ define "main" }}
<article>
    <h1 class="post-title">{{ .Title }}</h1>
    <time class="sep-after">{{ .Date.Format "January 2, 2006" }}</time>
    {{ partial "minread.html" . }}
    {{ partial "shorttagdescription.html" . }}
    <div>
        <p>
        {{ if .Params.hero }}
            {{ $srcset := "360|(max-width: 360px) 360px,700|(min-width: 700px) 700px" }}
            {{ $srcset := split $srcset "," }}
            {{ $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s" (.Params.hero))  }}
            {{ if $original }}
            <!-- image -->
            <figure class="hero">
                <img src="{{ if ge $original.Width 1500 }}{{ ($original.Resize "1500x").RelPermalink  }}{{ else }}{{ $original.RelPermalink }}{{ end }}" srcset="{{range $i, $set := $srcset}}{{ $setparams := split $set "|" }}{{$sizecondition := index $setparams 0 }}{{ $image := $original.Resize (print $sizecondition "x") }}{{ if $i }}, {{ end }}{{ (print $image.RelPermalink " " $sizecondition "w") }}{{ end }}" sizes="{{range $i, $set := $srcset}}{{ $setparams := split $set "|" }}{{$mediacondition := index $setparams 1 }}{{ if $i }}, {{ end }}{{ $mediacondition }}{{ end }}"/>
            </figure>
            {{ end }}
        {{ end }}
        {{ .Content }}
        </p>
    </div>
    {{ if .Params.credits }}
    <p class="credits">Credits: {{ range .Params.credits }}{{ . }}{{ end }}</p> 
    {{ end }}
    <div class="page-footer">
        <hr class="footer-divider">
        {{if .Params.tags}}
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>
</article>
{{end}}